:root {
    --boxBackgrnd: #0E3DC4;
    --borderColor: white;
  } 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    padding: 20px;
    height: 100px;
    width: 100%;
    line-height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--boxBackgrnd);
    color: #ffffff;

    outline: 2px solid var(--borderColor);
    outline-offset: -2px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    }

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    margin: 20px;
}

.work {
    width: 75%;
    display: inline-block;
    margin: 10px 0px 0px 20px;
}

.aboutme {
    margin: 10px 20px 0px 0px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--boxBackgrnd);

    outline: 2px solid var(--borderColor);
    outline-offset: -2px;
    
    }

.aboutme img{
    max-height: 100%;
    max-width: 100%;
}

.aboutmeblock {
    margin-bottom: 32px;
    color: #ffffff;
}

.aboutmeblock h3 {
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.aboutme:hover,
.aboutme:hover .aboutme {
  box-shadow: inset 0px 0px 8px var(--borderColor), 0 0 20px var(--borderColor);
}

.workblock {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--boxBackgrnd);
    color: #ffffff;

    outline: 2px solid var(--borderColor);
    outline-offset: -2px;
   
}

.workblock img {
    max-height: 200px;
}

.workblock h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.workblock:hover {
  box-shadow: inset 0px 0px 8px var(--borderColor), 0 0 20px var(--borderColor);
}

.workImgs {
    float: right;
    margin-left: 25px;

    outline: 2px solid var(--borderColor);
    outline-offset: -2px;

    transition: transform .2s;
}

.workImgs:hover {
    transform: scale(2);
}


footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--boxBackgrnd);
    color: #ffffff;
    text-align: center;

    outline: 2px solid var(--borderColor);
    outline-offset: -2px;
}

footer h4 {
    font-size: 20px;
}

footer ul{
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    display: inline-block;
    justify-content: center;
   }

